@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
.container {
  max-width: 400px;
  min-width: 100px;
  margin: 40px;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
}

h1 {
  text-align: center;
  font-size: 28px;
  margin-bottom: 20px;
  color: rgb(51, 51, 51);
}

.section {
  margin-bottom: 30px;
}

.label {
  background-color: rgb(238, 132, 210);
  color: white;
  padding: 10px;
  font-size: 20px;
  position: sticky;
  top: 0;
  z-index: 1;
  border-radius: 5px;
}

.contact {
  background-color: rgb(249, 249, 249);
  padding: 15px;
  margin: 5px 0;
  border-radius: 5px;
  border: 1px solid rgb(224, 224, 224);
}

.contact:hover {
  background-color: rgb(241, 241, 241);
}
